<div class="main-content">
  <div class="game-container">
    <div class="card" *ngFor="let card of cards; let cardIndex = index"
                      [class.rotate]="card.isRotated"
                      (click)="flipCard(cardIndex)">
      <div class="front"></div>
      <div class="back">
        <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + card.thumbnail + ')'}" ></div>
      </div>
    </div>
  </div>
  <div class="game-popup" *ngIf="gameWon">
    <button (click)="startGame()">NEW GAME</button>
  </div>
</div>
